apiVersion: v1
kind: ConfigMap
metadata:
  name: odoo-config
  namespace: odoo
data:
  odoo.conf: |-
    [options]
    db_host = postgres
    db_port = 5432
    db_user = odoo
    db_password = odoo
    data_dir = /var/lib/odoo
    admin_passwd = admin