apiVersion: apps/v1
kind: Deployment
metadata:
  name: odoo
  namespace: odoo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: odoo
  template:
    metadata:
      labels:
        app: odoo
    spec:
      containers:
        - name: odoo
          image: odoo-custom:17
          imagePullPolicy: Never
          args:
            - "-c"
            - "/etc/odoo/odoo.conf"
          env:
            # - name: AWS_ACCESS_KEY_ID
            #   valueFrom:
            #     secretKeyRef:
            #       name: gcs-s3-credentials
            #       key: AWS_ACCESS_KEY_ID
            # - name: AWS_SECRET_ACCESS_KEY
            #   valueFrom:
            #     secretKeyRef:
            #       name: gcs-s3-credentials
            #       key: AWS_SECRET_ACCESS_KEY
            # - name: AWS_DEFAULT_REGION
            #   valueFrom:
            #     secretKeyRef:
            #       name: gcs-s3-credentials
            #       key: AWS_DEFAULT_REGION
            - name: GOOGLE_APPLICATION_CREDENTIALS
              value: /etc/odoo/token-gcs/token-gcs.json
          ports:
            - containerPort: 8069
          volumeMounts:
            - name: data
              mountPath: /var/lib/odoo
            - name: odoo-config
              mountPath: /etc/odoo/odoo.conf
              subPath: odoo.conf
              readOnly: true
            - name: token-gcs
              mountPath: /etc/odoo/token-gcs
              readOnly: true
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: odoo-data
        - name: odoo-config
          configMap:
            name: odoo-config
        - name: token-gcs
          secret:
            secretName: token-gcs