apiVersion: apps/v1
kind: Deployment
metadata:
  name: odoo
  namespace: odoo
spec:
  selector:
    matchLabels:
      app: odoo
  template:
    metadata:
      labels:
        app: odoo
    spec:
      containers:
        - name: odoo
          image: odoo-local:17
          ports:
            - containerPort: 8069
          volumeMounts:
            - name: data
              mountPath: /var/lib/odoo
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: odoo-data
      initContainers:
      - name: init-odoo-db
        image: odoo-local:17
        command: ["odoo", "-c", "/etc/odoo/odoo.conf", "-d", "odoo", "-i", "base", "--stop-after-init"]